.contcontent {
    overflow-x: hidden;
    background-color: #2c2d32;
    height: 89.5vh;
    align-items: center;
}

.controw {
    justify-content: center;
}

.floatform {
    padding: 220px 150px 220px 150px !important;
}

.nameinput {
    margin-bottom: 15px;
}

.nameinput label {
    color: #dce5e5;
    /* background-color: transparent; */
    border-bottom: #dce5e5 !important;
}

.nameinput input {
    color: #dce5e5;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #dce5e5 !important;

}

.nameinput input:last-of-type {
    background-color: transparent;
}

.nameinput input:focus {
    background-color: transparent;
    color: #dce5e5;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #dce5e5 !important;
}

.nameinput label::after {
    background-color: transparent !important;
}

.nameinput input:focus+label {
    color: #dce5e5 !important;
}

.messinput label {
    color: #dce5e5;
    /* background-color: transparent; */
    border-bottom: #dce5e5 !important;
}

.messinput label::after {
    background-color: transparent !important;
}

.messinput {
    margin-bottom: 15px;
}

.messinput textarea {
    color: #dce5e5;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #dce5e5 !important;
    height: 100px !important;
}

.messinput textarea:focus {
    background-color: transparent;
    color: #dce5e5;
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #dce5e5 !important;
}

.messinput textarea:focus+label {
    color: #dce5e5 !important;
}

.button {
    padding: 10px 0 10px 0 !important;
    font-size: 22px !important;
    font-weight: 700 !important;
    width: 100%;
    color: #dce5e5 !important;
    background-color: transparent !important;
    border: 1px solid #d1bda0 !important;
    box-shadow: transparent;
}

.button:hover {
    border-color: transparent !important;
    background-color: transparent;
    box-shadow: 2px 1px 23px 4px rgba(209, 189, 160, 0.26);
    -webkit-box-shadow: 2px 1px 23px 4px rgba(209, 189, 160, 0.26);
    -moz-box-shadow: 2px 1px 23px 4px rgba(209, 189, 160, 0.26);
}

@media only screen and (max-width: 1400px) {
    .contcontent {
        height: 120vh !important;
    }
}

@media only screen and (max-width: 1200px) {
    .contactimg img {
        padding-top: 190px !important;
    }
}

@media only screen and (max-width: 992px) {
    .contactimg {
        text-align: center;
    }

    .contactimg img {
        width: 55vw !important;
        padding-top: 0px !important;
    }

    .floatform {
        padding: 150px !important;
    }

    .contcontent {
        height: 130vh !important;
    }
}

@media only screen and (max-width: 768px) {
    .floatform {
        padding-bottom: 110px !important;
    }

    .contcontent {
        height: 115vh !important;
    }
}

@media only screen and (max-width: 576px) {
    .contactimg img {
        width: 75vw !important;
    }

    .contcontent {
        height: 105vh !important;
    }

    .floatform {
        padding: 100px 50px 100px 50px !important;
    }
}

@media only screen and (max-width: 376px) {
    .contcontent {
        height: 100vh !important;
    }

    .floatform {
        padding: 100px 50px 100px 50px !important;
    }
}