.navbar {
    background-color: #2c2d32;
}

.navbutton {
    color: #dce5e5;
    border: 1px solid #dce5e5 !important;
}

.navbutton span {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(220, 229, 229, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.collapselink {
    /* display: flex; */
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    margin-left: auto !important;
    gap: 3rem !important;
}

@media only screen and (max-width: 992px) {
    .collapselink, .navcollapsetwo {
        justify-content: center;
        display: flex !important;
        flex-direction: row !important;
    }
}

.fe {
    font-size: 50px;
    font-weight: 1000;
    color: #dce5e5;
}

.titik {
    line-height: 0%;
    font-size: 120px;
    color: #d1bda0;
}

.navhome, .navport, .navcontact {
    border-radius: 10px;
    color: #dce5e5 !important;
}

.navslash, .navlinkedin, .navinsta {
    color: #dce5e5 !important;
    padding: 0 10px 0 10px !important;
}

.navhome:hover, .navport:hover, .navcontact:hover, .navhome:active, .navport:active, .navcontact:active {
    background-color: #323338;
}